h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code{padding:0;margin:0;line-height:1em;font-size:100%;font-weight:normal;font-style: normal;}


body {
font-family:georgia,"times new roman",times,serif,Helvetica,Verdana;
font-size: 80%; 
background: #fff;
color: #333; 
margin:0; 
padding:0;
line-height: 135%;
}

a { color: #00416A; 
text-decoration: none; 
padding: 0 0 0 0; 
}
a:hover { 
text-decoration: 
none; color: #336699; 
Background:#ADD8E6 
}

p { }

img { border: none; padding: .3em; } 
img a {border:none;} 

ul { list-style-type: none; }

#page {
width: 870px;
margin: 0 auto;
background: #fff;
}

#header { 
}

#header h1 {
font-size: 2.7em;
font-weight: 100;
line-height: 135%;
padding: 0.5em 0 0 0.5em;
}
#header h1 a {
color: #111;
}
#header h1 a:hover {
color: #336699;
background: #fff;
}
#header h2 {
color: #666;
font-size: 1.5em;
font-weight: 100;
line-height: 135%;
padding: 0 0 .7em .893em;
}

table
{
border-collapse:collapse;
}
table,th, td
{
border: 1px #999;
padding:2px;
}

#menu {
border-radius: 2px 2px 2px 2px;
height: 40px;
background: #222;
line-height: 40px;
}

#menu ul {
list-style-type: none;
margin: 0;
padding-left: .8em;
line-height: 40px;
}
#menu ul li {
display: block;
float: left;
line-height: 40px;
}
#menu ul li a {
display: block;
padding: 0 .8em 0 .8em;
text-decoration: none;
color: #fff;
font-size: 1em;
font-weight: 600;
line-height: 40px;
}
#menu ul li a:hover {
color: none;
background: #333333;
}

#wrapper {
padding: 1.6em 0 1.6em 0;
}

#content {
float: left;
width: 870px;
}


#content h2 {
font-size: 1.3em;
margin: 0 0 .3em;
padding: 0 0 .25em; 
color: #111;
}

#content h3 {
padding: 0.8em 0 0 0;
font-size: 1.2em;
color: #111;
}

#content ul {
color: #555555;
padding: .8em 2.4em;
}
#content ul li {
list-style-type: square;
}

